# Android and Gradle
*.apk
*.aab
*.ap_
*.aar
*.dex
/build/
/app/build/
/server/build/
/capture_dependencies.txt
.gradle/
gradle-app.setting
/app/src/main/res/raw/
*.iml
.idea/
local.properties
captures/
*.keystore

# Java
*.class

# Log files
*.log

# Mac
.DS_Store

# Windows
Thumbs.db
